/* google fonts ========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif; */

:root {
  --clr-primary: #0f1b4c;
  --clr-secondary: #063183;

  --clr-white: #ffffff;
  --clr-black: #000000;

  --clr-light-blue: #0689ff;

  --clr-title: #000336;

  --clr-text: #5a6473;
  --clr-text-light: #7d8589;
  --clr-text-light-80: #a3a6ab;
}

/* base style ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;

  color: var(--clr-text);
}

h1,
h2 {
  line-height: 1.1;
  color: var(--clr-title);
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: baseline;
}

/* public styling ========== */
.container {
  width: 1110px;
  max-width: 95%;
  padding: 0 10px;
  margin: 0 auto;
}
.flex{
    display: flex;
}
.ai-c{
    align-items: center;
}
.jc-sb{
    justify-content: space-between;
}

.btn{
    font-family: "poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--clr-primary);
    text-transform: capitalize;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-fill{
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
    color: var(--clr-white);
    transition-duration: 0.3s;
    transition-property: border color background-color;
}
.btn-fill:hover{
    border: 2px solid var(--clr-primary);
    background-color: transparent;
    color: var(--clr-primary);
    
}
.btn-fill i{
    font-size: 1.2rem;
    vertical-align: middle;
}
.btn-line:hover{
    color: var(--clr-secondary);
    text-decoration: underline;
}
/* header style ========== */
header{
    padding: 24px 0; /*top-bottonm 24px, left-right 0*/
    background-color: #e6f0ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
header .container{
    width: 1300px;
}
header .left{
    gap: 64px; /* added the "flex" thats why we can add flex-gap */
    justify-content: flex-start;
}
header .left img{
    width: 100px;
}
header .left .nav-desktop{
    display: flex;
    gap: 30px;
    display: none;
}
header .left .nav-desktop a{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #4f5361;
    position: relative;
}
header .left .nav-desktop a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--clr-light-blue);
    
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.3s width;
}
header .left .nav-desktop a:hover::after{
    width: 115%;
}
header .left .nav-desktop a:hover{
    color: var(--clr-light-blue);
}
header .right{
    gap: 18px;
    justify-content: flex-end;
}
header .right .account{
    padding: 0;
}
.hamb{
    display: block;
    width: 30px;
    cursor: pointer;
}
.hamb span{
    display: block;
    height: 2px;
    background-color: var(--clr-primary);
    transition-duration: 0.3s;
    transition-property: opacity transform;
}
.hamb span.mid{
    margin: 7px;
}
.hamb.active span.top{
    transform: translateY(9px) rotate(42deg);
}
.hamb.active span.mid{
    opacity: 0;
}
.hamb.active span.bottom{
    transform: translateY(-9px) rotate(-42deg);
}

/* mobile navigation ========== */
.nav-mobile{
    width: 100%;
    height: auto;
    padding: 80px 50px;
    background-color: var(--clr-primary);
    position: fixed;
    top: -460px;
    left: 0;
    right: 0;
    z-index: 4;

    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    justify-items: center;

    transition: 0.3s top;
}
.nav-mobile.active{
    top: 6%;
}
.nav-mobile a{
    color:  var(--clr-text-light);
    font-size: 2rem;
    font-weight: 700;
}
.nav-mobile a:hover{
    color: var(--clr-light-blue);
}

/* hero section style ========== */
.hero{
    width: 100%;
    height: 100vh;
    background-color: #e6f0ff;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    background-image: url(./img/house.png);
    background-repeat: no-repeat;
    background-position: right 65px bottom;
    background-size: 50%;
}
.hero .desc{
    width: 560px;
    max-width: 100%;
}
.hero .desc .tag{
    font-size: 18px;
    font-weight: 500;
    color: var(--clr-text-light);
}
.hero .desc .title{
    font-size: 42px;
    font-weight: 700;
    margin: 12px 0 32px; /* top:12px left-right:0 bottom:32px */
}
.hero .desc .cta{
    margin-top: 32px;
    display: flex;
    gap: 24px;
    align-items: center;
}
.hero .desc .cta .btn-line{
    padding: 0;
}
/* clients section style ========== */
.clients {
    padding: 80px 0 40px;
}
.clients .top{
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-end;
    margin-bottom: 64px;
}
.clients .top .left .tag{
    font-size: 24px;
    color: var(--clr-primary);
}
.clients .top .right .ratings span i{
    font-size: 1.1rem;
    color: #ffca56;
}
.clients .companies{
    display: grid;
    gap: 24px;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.clients .companies a{
    opacity: 0.7;
}
.clients .companies a:hover{
    opacity: 1;
}
/* guide section style ========== */

/* properties list style ========== */

/* progress section style ========== */

/* style for newsletter ========== */

/* footer section style ========== */